{% extends "workflow.html" %}

{% block module %}
    <h2>Extract Images
        <a href="https://github.com/lizfischer/document-segmentation/wiki/User-Guide#extract-images"
           target="_blank" class="help-button">
            <i class="fa-solid fa-question"></i>
        </a>
    </h2>
    <p>First, your PDF needs to be converted to images.</p>
    <button class="btn" id="extract-btn">Start conversion</button>

    <div id="progress"></div>

    <div id="next" style="display:none"><button class="btn">Next Step <i class="fa-solid fa-arrow-right"></i></button></div>



<script type="text/javascript">
$(document).ready(function (){

    /** Update Steps **/
    $(".step-item").removeClass("active");
    $("#extract").addClass("active");
    $("#extract").nextAll().find('a').css({"pointer-events": "none"});


     function finished_extract(data){
         $("#next").show();
     }

    $('#extract-btn').click(function (){
        start_long_task("extract", {{project.id}}, null, finished_extract);
        $("#extract").attr('disabled', true);
    });

    $("#next").click(function (){
        window.location.href = "{{ url_for('split_file', project_id=project.id) }}";
    });

});

</script>
{% endblock %}
