{% extends "workflow.html" %}


{% block module %}
<h2>Rule Builder
<a href="https://github.com/lizfischer/document-segmentation/wiki/User-Guide#build-rules--separate"
       target="_blank" class="help-button">
        <i class="fa-solid fa-question"></i>
    </a>
</h2>
<form onsubmit="event.preventDefault()" id="SimpleSeparateForm">

    <fieldset>
        <legend>Ignoring headers, footers, & marginalia</legend>
        Ignore text <span id="ignore-wrap-0">
                <select id="ignore-position-0" name="ignore-position-0">
                    <option value="above">above the first</option>
                    <option value="below">below the last</option>
                    <option value="left">left of the first</option>
                    <option value="right">right of the last</option>
                </select>
            <input id="ignore-num-0" name="ignore-num-0" type="text" maxlength="2" size="1"> gap(s)
            with a minimum size of <input id="ignore-width-0" name="ignore-width-0" type="text" maxlength="3" size="1"> px
            and blankness threshold of <input id="ignore-blank-0" name="ignore-blank-0" type="text" maxlength="4" size="1">
        </span>
        <br>

        <span id="ignore-wrap-1" style="display: none;">
             and
            <select id="ignore-position-1" name="ignore-position-1">
                    <option value="above">above the first</option>
                    <option value="below">below the last</option>
                    <option value="left">left of the first</option>
                    <option value="left">right of the last</option>
                </select>
            <input id="ignore-num-1" name="ignore-num-1" type="text" maxlength="2" size="1"> gap(s)
            with a minimum size of <input id="ignore-width-1" name="ignore-width-1" type="text" maxlength="3" size="1"> px
            and blankness threshold of <input id="ignore-blank-1" name="ignore-blank-1" type="text" maxlength="4" size="1">
        </span>

        <span class="tooltip btn btn-sm tooltip-right" data-tooltip="Ignore additional" value="+" id="ignore-more">+</span>
    </fieldset>

    <fieldset>
        <legend>Entry splitting</legend>
        New entries start after a gap
        <span id="gap-size-wrap">
            with a minimum width of <input id="gap-width" name="gap-width" type="text" maxlength="3" size="1">
            and blankness threshold of <input id="gap-blank" name="gap-blank" type="text" maxlength="4" size="1">
        </span>.
        <br>
        At the top of a page, start a new entry
         <select name="split-type" id="split-type">
             <option value="strong">always</option>
             <option value="weak">never</option>
             <option value="regex">when the first line of text matches the regular expression: </option>
        </select>
        <span id="regex-text" style="display: none;"><input id="regex-text-input" name="regex-text" type="text" maxlength="100" size="40"></span>

    </fieldset>
    <button onclick="submitForm()" class="btn btn-primary " id="submit-button" type="button">Submit</button>
</form>

<div id="progress"></div>
<a href="{{ url_for('export', project_id=project.id) }}" style="display: none" id="next-button"><button class="btn" >Next Step <i class="fa-solid fa-arrow-right"></i></button></a>

<!-- TASK SCRIPT -->
<script type="text/javascript">

    /** Update Steps **/
    $(".step-item").removeClass("active");
    $("#separate").addClass("active");

function submitForm(){
    const formdata = {
            "ignore-position-0": $("#ignore-position-0").val() || null,
            "ignore-num-0": $("#ignore-num-0").val() || null,
            "ignore-width-0": $("#ignore-width-0").val() || null,
            "ignore-blank-0": $("#ignore-blank-0").val() || null,
            "ignore-position-1": $("#ignore-position-1").val() || null,
            "ignore-num-1": $("#ignore-num-1").val() || null,
            "ignore-width-1": $("#ignore-width-1").val() || null,
            "ignore-blank-1": $("#ignore-blank-1").val() || null,
            "gap-width": $("#gap-width").val(),
            "gap-blank": $("#gap-blank").val(),
            "split-type": $("#split-type").val(),
            "regex-text": $("#regex-text-input").val()
        }

    $("#submit-button").attr('disabled', true);
    start_long_task("simplesep", {{project.id}}, data=formdata, callback=finished_separate)
}

function finished_separate(){
    console.log("Done with separate")
    $("#next-button").show();
}

</script>
<script>
$(document).ready(function () {
    $("#split-type").change(function() {
        if ($(this).val() == "regex") {
            $("#regex-text").show();
        } else{
            $("#regex-text").hide();
        }
    });

    $("#ignore-more").click(function(){
        if ($(this).text() == "+"){
            $(this).text("x");
            $(this).prop("data-tooltip", "Remove");
        } else {
            $(this).text("+");
            $(this).prop("data-tooltip", "Ignore additional");

        }

        $("#ignore-wrap-1").toggle();
    });

});
</script>
{% endblock %}
