<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Basic -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

    <!-- Frontend framework -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-exp.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/spectre-icons.min.css') }}">

    <!-- Annotorious-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/annotorious.min.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/annotorious.min.js') }}"></script>

    <!-- Image viewer -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imageViewer.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/imageViewer.js') }}"></script>

    <!-- Async tasks -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/taskRunner.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/nanobar.min.js') }}"></script>

</head>



<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>