{% extends "base.html" %}

{% block header_left %}
    <a class="btn" href="{{ url_for('main') }}"><< Change project</a>
{% endblock %}
{% block header_center %}
        <div class="project-name-wrap">
            <h1>{{ project.name }}</h1>
            <span class="tooltip tooltip-left" id="rename-btn" data-tooltip="Rename">
                <img src="{{ url_for('static', filename='img/edit.png') }}">
            </span>
        </div>

        <div class="modal modal-sm" id="rename-modal">
          <a href="#close" class="modal-overlay" aria-label="Close"></a>
          <div class="modal-container">
            <div class="modal-header">
              <button class="btn btn-clear modal-close float-right" aria-label="Close"></button>
              <div class="modal-title h5">Rename project</div>
            </div>
            <div class="modal-body">
              <div class="content">
                  <form id="rename_form" action="/rename" method="post">
                    <label class="form-label" for="new_name">New name</label>
                    <input class="form-input" id="new_name" name="new_name" type="text" placeholder="{{ project.name }}">
                    <input hidden name="project_id" value="{{ project.id }}">
                    <p class="form-input-hint">Name must not be blank.</p>
                  </form>
              </div>
            </div>
            <div class="modal-footer">
                <button id="submit-rename" class="btn btn-primary">Submit</button>
                <button class="btn btn-link modal-close" href="#" aria-label="Close">Close</button>
            </div>
          </div>
        </div>

{% endblock %}

{% block content %}

    <ul>
        <li><a href="{{ url_for('workflow', project_id=project.id) }}">Enter workflow</a></li>
        <li><a href="{{ url_for('split_file', project_id=project.id) }}"> Split pages </a></li>
        <li><a href="#" id="binarize"> Binarize </a></li>
        <li><a href="#" id="margins"> Margins </a></li>
        <li><a href="{{ url_for('simple_separate_ui', project_id=project.id) }}"> Simple Separate </a></li>
        <li><a href="{{ url_for('export', project_id=project.id) }}"> Export Entries </a></li>
        <li><a href="{{ url_for('export_txt', project_id=project.id) }}"> Download ZIP of entries as plaintext </a></li>
        <li><a href="{{ url_for('cleanup', project_id=project.id) }}"> Remove unnecessary project files </a></li>
        <li><a href="{{ url_for('delete_project', project_id=project.id) }}">Delete Project</a></li>
    </ul>
    <div id="progress"></div>
    <table id="tasks"></table>
    {% block module %}        {% endblock %}


    <script type="text/javascript">
        // Rename Modal
        $('#rename-btn').click(function (){
            $("#rename-modal").addClass("active");
        });
        // Rename submit
        $("#submit-rename").click(submit_rename);
        $("#new_name").on("keydown", function (e){
            if(e.which == 13) {
                submit_rename();
            }
        });

        function submit_rename(){
            const new_name = $("#new_name").val();
            if (!new_name){
                document.getElementById("rename_form").classList.add("has-error");
            }
            else {
                document.getElementById("rename_form").classList.remove("has-error");
                const form = $("#rename_form").submit();
            }
        }
    </script>

    <script type="text/javascript">
         $(function() {
             $('#binarize').click(function (){ start_long_task("binarize", {{project.id}}, null, finished_binarize) });
             $('#margins').click(function (){ start_long_task("thresholds", {{project.id}}, null, finished_margins) });

        });

         function finished_binarize(data){
             console.log("Binarize: " + data["status"]);
         }

         function finished_margins(data){
            console.log("Finished preparing margins");
            const start = data["preview"]["start"];
            const end = data["preview"]["end"];
            const url = `/{{project.id}}/threshold-preview?t=${data["thresh_id"]}&start=${start}&end=${end}`;
            window.location.href = url;
         }

    </script>

{% endblock %}