{% extends "base.html" %}

{% block header %}

{% endblock %}


{% block content %}

<form method="post">

    <fieldset>
        <legend>Ignore text</legend>
        <span id="ignore-wrap-0">
                <select id="ignore-position-0" name="ignore-position-0">
                    <option value="above">above the first</option>
                    <option value="below">below the last</option>
                </select>
            <input name="ignore-num-0" type="text" value="1" maxlength="2" size="1"> gap(s)
            with a minimum size of <input name="ignore-hwidth-0" type="text" maxlength="3" size="1"> px
            and blankness threshold of <input name="ignore-hblank-0" type="text" maxlength="4" size="1">
        </span>
        <br>

        <span id="ignore-wrap-1" style="display: none;">
             and
            <select id="ignore-position-1" name="ignore-position-1">
                <option value="above">above the first</option>
                <option value="below">below the last</option>
            </select>
            <input name="ignore-num-1" type="text" value="1" maxlength="2" size="1"> gap(s)
            with a minimum size of <input name="ignore-hwidth-1" type="text" maxlength="3" size="1"> px
            and blankness threshold of <input name="ignore-hblank-1" type="text" maxlength="4" size="1">
        </span>

        <input type="button" value="+" id="ignore-more">
    </fieldset>


    <fieldset>
        <legend>A new entry starts when there is text</legend>
        <div>
            <select name="entry-start-0" id="entry-start-0">
                <option value="after">after a horizontal gap</option>
                <option value="left">left of</option>
                <option value="right">right of</option>
            </select>

            <span id="entry-start-lr-0" id="entry-start-lr-0" style="display: none;">
                <select name="entry-start-position-0">
                    <option value="first">the first</option>
                    <option value="last">the last</option>
                </select>
                <input name="entry-start-n-0" type="text" value="1" maxlength="2" size="1"> vertical gap(s)
            </span>

            with a minimum width of <input name="entry-start-width-0" type="text" maxlength="3" size="1">
            and blankness threshold of <input name="entry-start-blank" type="text" maxlength="4" size="1">
            <br>
        </div>

        <select id="boolean-selector-0" name="bool-0" >
            <option value="none">-</option>
            <option value="and">AND</option>
            <option value="or">OR</option>
        </select>



        <fieldset id="additional-condition-wrap" style="display: none;">
            <span>
                text is
                <select name="additional-condition-0" id="additional-condition-0">
                    <option value="top">at the top of the page</option>
                    <option value="gap">after a horizontal gap </option>
                </select>

                <span id="additional-gap-info-0" style="display: none;">
                    with a minimum width of <input name="additional-gap-info-0-width" type="text" maxlength="3" size="1">
                    and blankness threshold of <input name="additional-gap-info-0-blank" type="text" maxlength="4" size="1">
                </span>

                <select name="bool-1" id="boolean-selector-1">
                    <option value="none">-</option>
                    <option value="and">AND</option>
                    <option value="or">OR</option>
                </select>
            </span>

            <span id="additional-condition-wrap-1" style="display: none;">
                <select name="additional-condition-1" id="additional-condition-1">
                    <option value="top">at the top of the page</option>
                    <option value="gap">after a horizontal gap </option>
                </select>

                <span id="additional-gap-info-1" style="display: none;">
                    with a minimum width of <input name="additional-gap-info-1-width" type="text" maxlength="3" size="1">
                    and blankness threshold of <input name="additional-gap-info-1-blank" type="text" maxlength="4" size="1">
                </span>
            </span>

        </fieldset>

    </fieldset>
    <input type="submit" value="Submit">
</form>

{{ form_data }}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function (){
        $("#ignore-more").click(function(){
            if ($(this).val() == "+"){
                $(this).prop("value", "X");
            } else {
                $(this).prop("value", "+");
            }

            $("#ignore-wrap-1").toggle();
        });

/* FIXME
        $("#ignore-position-0").change(function (){
            console.log("Change")
            $("#ignore-position-1").value = "below"

            if ($(this).val() === "above"){
                $("#ignore-position-1").value = "below"
            }
            if ($(this).val() === "below"){
                $("#ignore-position-1").value = "above"
            }

        });
*/

        $("#entry-start-0").change(function() {
            if ($(this).val() != "after") {
                $("#entry-start-lr-0").show();
            }else{
                $("#entry-start-lr-0").hide();
            }
        });

        $("#boolean-selector-0").change(function (){
           if ($(this).val() != "none") {
               $("#additional-condition-wrap").show();
           } else {
               $("#additional-condition-wrap").hide();
           }
        });

        $("#additional-condition-0").change(function (){
             if ($(this).val() == "gap") {
               $("#additional-gap-info-0").show();
           } else {
               $("#additional-gap-info-0").hide();
           }
        });


        $("#boolean-selector-1").change(function (){
           if ($(this).val() != "none") {
               $("#additional-condition-wrap-1").show();
           } else {
               $("#additional-condition-wrap-1").hide();
           }
        });

         $("#additional-condition-1").change(function (){
             if ($(this).val() == "gap") {
               $("#additional-gap-info-1").show();
           } else {
               $("#additional-gap-info-1").hide();
           }
        });

    });
</script>

{% endblock %}
