{% extends "project.html" %}

{% block module %}

<form method="post">
<!-- TODO make pct adjustable-->
    <input id="split_pct" name="split_pct" type="text" value="{{ pct }}" maxlength="4" size="1">
    <input type="button" id="test-button" value="Test split percent">
    <input type="submit" value="Split PDF">
</form>


<div id="imgviewer" style="width:600px; height:800px"></div>

<style>
    .a9s-annotation .a9s-inner {
        stroke-width:1px;
        stroke: #dcc942;
        fill: rgb(220, 201, 66);
        -webkit-filter:drop-shadow(0 0 10px rgb(220, 201, 66));
            filter:drop-shadow(0 0 10px rgb(220, 201, 66));
    }
    .a9s-annotation .a9s-outer {
        stroke: #a9982b;
    }
    .a9s-annotation .a9s-inner:hover {
        stroke-width:2px;
        stroke: #dcc942;
        fill: rgb(220, 201, 66);
    }
</style>

<script type="text/javascript">
$(document).ready(function(){
    var images = {{ images|tojson }};
    initViewer(images);
    var pct = {{pct|tojson}}

    var annotorious = Annotorious.init({
        image: "activeImage",// image element or ID
        disableEditor: true,
        allowEmpty: true,
        readOnly: true
      });

    var activeImage = document.querySelector('#activeImage');
    activeImage.addEventListener('load', function (){
        var annoLayer = document.querySelector('.a9s-annotation')
        if (!annoLayer) {
           addAnno(pct);
        } else {
           changeAnno(pct)
        }
    })
    activeImage.addEventListener('error', function (){
        alert("Something went wrong, please try again")
    })


    $("#test-button").click(function (){
        pct = $("#split_pct").val();
        changeAnno(pct);
    });

    var anno_id = "#a88b22d0-6106-4872-9435-c78b5e89fede"
    function addAnno(pct){
        console.log("Adding at " + pct);
        /*annotorious = Annotorious.init({
            image: "activeImage",// image element or ID
            disableEditor: true,
            allowEmpty: true,
            readOnly: true
          });
        */
        var x = $("#activeImage").get(0).naturalWidth*pct;
        var height = $("#activeImage").get(0).naturalHeight;
        line = "xywh=pixel:"+x+",0,1,"+height;
        console.log(line)
        annotorious.addAnnotation({
              "@context": "http://www.w3.org/ns/anno.jsonld",
              "id": anno_id,
              "type": "Annotation",
              "body": [],
              "target": {
                "selector": {
                  "type": "FragmentSelector",
                  "conformsTo": "http://www.w3.org/TR/media-frags/",
                  "value": line
                }
              }
            });
    }

    function changeAnno(pct){
        console.log("Change annotation to " + pct)
        annotorious.removeAnnotation(anno_id);
        addAnno(pct);
    }

    // Prevent enter from submitting form
    $('form input').on('keypress', function(e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
});

</script>

{% endblock %}